Daily Job Email Tracker.json
{
  "name": "Daily Job Email Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "417c6d26-153e-4253-a7ac-a386ad22ea58",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "newer_than:2d"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "5f598fbb-a32a-4755-ad6f-6463f2c9b0ae",
      "name": "Get Emails",
      "webhookId": "af229a0c-f07e-4f1a-b36a-d96b6cbe3c17",
      "credentials": {
        "gmailOAuth2": {
          "id": "IK8tEbSb06KvVxoM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are processing ONE email from a job seeker's inbox. Read it and reply with ONLY a JSON object and nothing else. No explanation, no code fences.\n\nUse exactly these fields:\n{\n  \"is_job_related\": true or false,\n  \"type\": \"application_confirmation\" | \"rejection\" | \"interview_invite\" | \"assessment\" | \"other\",\n  \"company\": company name or null,\n  \"role\": job title or null,\n  \"location\": location if stated or null,\n  \"work_model\": \"remote\" | \"hybrid\" | \"onsite\" | null,\n  \"seniority\": \"intern\" | \"junior\" | \"mid\" | \"senior\" | \"lead\" | null,\n  \"source\": where the person applied (LinkedIn, Indeed, company site, direct email) or null,\n  \"application_method\": \"email\" | \"portal\" | null,\n  \"salary\": salary or salary range if the email mentions one, else null,\n  \"applied_date\": the date the person applied if the email states it, in YYYY-MM-DD, else null,\n  \"interview_datetime\": if this is an interview invite and a date and time are given, return them in ISO 8601 (YYYY-MM-DDTHH:mm), else null,\n  \"reason\": rejection reason if the email is a rejection and a reason is given, else null,\n  \"rejection_quality\": if this is a rejection, \"generic\" for an automated form rejection or \"personalized\" if it references the person or role specifically, else null,\n  \"email_subject\": the subject line\n}\n\nIf the email is not about THIS person's own job applications (for example newsletters, job alerts, ads, or generic marketing), set is_job_related to false and set the other fields to null.\n\nHere is the email:\nSubject: {{ $json.subject }}\nFrom: {{ $json.from }}\nBody: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        0
      ],
      "id": "cde2c967-c9bd-48f1-a897-b0be7b22450e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        368,
        208
      ],
      "id": "7797bde8-23c4-488d-9855-6c36b74db533",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "R2mAItxqHRDBSDQ0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n   const items = $input.all();\n   for (let i = 0; i < items.length; i++) {\n     const raw = items[i].json.text || items[i].json.output || items[i].json.response || \"\";\n     let data;\n     try {\n       const start = raw.indexOf(\"{\");\n       const end = raw.lastIndexOf(\"}\");\n       data = JSON.parse(raw.slice(start, end + 1));\n     } catch (e) {\n       data = { is_job_related: false };\n     }\n     out.push({ json: data, pairedItem: { item: i } });\n   }\n   return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "a4dffbc4-6335-4487-be29-aa631bf1daec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4aebed11-49bc-4694-a5d5-a5a0a30d3cb9",
              "leftValue": "={{ $json.is_job_related }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        992,
        0
      ],
      "id": "e39ec10f-984c-4bd9-bbc7-d002d9834a10",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZCJuifusSTsgH8Vk0W6KX6HehNuXDsvep9XEC75eNJM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZCJuifusSTsgH8Vk0W6KX6HehNuXDsvep9XEC75eNJM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location": "={{ $json.location }}",
            "Reason": "={{ $json.reason }}",
            "Work model": "={{ $json.work_model }}",
            "Type": "={{ $json.type }}",
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.role }}",
            "Source": "={{ $json.source }}",
            "Email subject": "={{ $json.email_subject }}",
            "Applied date": "={{ $json.applied_date }}",
            "Rejection quality": "={{ $json.rejection_quality }}",
            "Salary": "={{ $json.salary }}",
            "Application method": "={{ $json.application_method }}",
            "Seniority": "={{ $json.seniority }}",
            "Email date": "={{ $('Get Emails').item.json.date }}",
            "Permalink": "=https://mail.google.com/mail/u/0/#all/{{ $('Get Emails').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email date",
              "displayName": "Email date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email subject",
              "displayName": "Email subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied date",
              "displayName": "Applied date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days since applied",
              "displayName": "Days since applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work model",
              "displayName": "Work model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application method",
              "displayName": "Application method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejection quality",
              "displayName": "Rejection quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Permalink",
              "displayName": "Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        0
      ],
      "id": "f5cd382d-48fb-4df4-ae5d-f65163d22e88",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q5ktAo2t45MXbOfK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Emails').item.json.id }}",
        "labelIds": [
          "Label_6888857798224906451"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        0
      ],
      "id": "87a70917-333b-438d-87ae-a60e1d7d52cb",
      "name": "Add label to message",
      "webhookId": "3c9c3436-ac08-4a3b-92aa-9cb27fe6ebd9",
      "credentials": {
        "gmailOAuth2": {
          "id": "IK8tEbSb06KvVxoM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32876498-ed5c-4b6e-98d9-13e2813dbdf8",
              "leftValue": "={{ $json.type }}",
              "rightValue": "interview_invite",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dbc4fb6e-a3ab-442f-9b18-6bb57f03bb18",
              "leftValue": "={{ $json.interview_datetime }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        -208
      ],
      "id": "660cd950-77f3-4c2d-b979-27e9c231bc9a",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "khushiverma8433@gmail.com",
          "mode": "list",
          "cachedResultName": "khushiverma8433@gmail.com"
        },
        "start": "={{ $json.interview_datetime }}",
        "end": "={{ DateTime.fromISO($json.interview_datetime).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "description": "={{ $json.email_subject }}",
          "summary": "=Interview: {{ $json.company }} - {{ $json.role }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1392,
        -304
      ],
      "id": "4160190a-043e-48d9-95ed-625b77fea175",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6Fr0rA5b9uJnaYxk",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58c7891a-5b45-47ad-81c6-5c48bfb95b2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2834c513055a18a1ac9440e78fcba2fc19ee46991236b94fe099fdab52ccfcb"
  },
  "nodeGroups": [],
  "id": "VTauARTtHSAyokrI",
  "tags": []
}